.hero {
  min-height: 100vh;
  display: flex;
  width: 100%;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  background: linear-gradient(118deg, #1F271C 0%, #121A0F 99.93%), #161E13;
  overflow-x: hidden;
}

.hero__content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}


.hero__title {
  color: #F9FFF1;
  font-family: "Clash Display", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -3.75px;
  margin: 0;
  max-width: 900px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .hero__title {
    font-size: 60px;
    line-height: 1.1;
  }
}

@media (max-width: 1200px) {  
  .hero__title {
    font-size: 60px;
    line-height: 1.1;
  }
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 52px;
  }
}

@media (max-width: 768px) {
  .hero__content {
    padding: 0 30px;
  }
  
  .hero__title {
    font-size: 42px;
    letter-spacing: -2px;
    line-height: 1.1;
  }
}

@media (max-width: 480px) {
  .hero__content {
    padding: 0 20px;
  }
  
  .hero__title {
    font-size: 36px;
    letter-spacing: -1.5px;
  }
}
