.about-container {
  width: 1440px;
  max-height: 650px;
  flex-shrink: 0;
  background: #F9FFF1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.about-left {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.photo-div {
  display: flex;
  width: 600px;
  max-height: 650px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #e0e0e0; /* Placeholder color, replace with your image */
}

.about-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid #161E13;
}

/* Add any additional styles for your content here */
h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
}